<!--
    Title: about.component.html
    Author: Professor Krasso and Brett Grashorn
    Date: 9/1/23
    Description: About html element
 -->

<header class="container-fluid text-center about">
    <div class="container p-5">
      <h1 class="display-1">About Us</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac ut consequat semper viverra nam. Massa ultricies mi quis hendrerit. Consequat nisl vel pretium lectus quam. Lacus laoreet non curabitur gravida arcu ac.</p>
    </div>
</header>

<div class="container my-5">
  <div class="row">
    <div class="col-md-7">
      <h2 class="display-3">Task Management</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus dictum at tempor commodo.
      </p>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus dictum at tempor commodo.
      </p>
      <ul>
        <li>Great Product! I use it all the time!</li>
        <li>Very Useful! Don't know how I lived without it!</li>
        <li>Helps so much with my everyday tasks.</li>
        <li>I love this app! So easy to use.</li>
      </ul>
    </div>
    <!-- end task column -->

    <div class="col-md-5 text-center">
      <img src="./assets/hufflepuff-todo-list.png" alt="List with orange juice to near the top"
      class="img-fluid rounded phone">
    </div>

  </div>
  <!-- end row -->

  <hr class="my-5">

    <div class="row">
      <div class="col-md-5">
        <img src="./assets/hufflepuff-phone.png" alt="phone laying on its front with a Hufflepuff logo"
      class="img-fluid rounded phone">
      </div>


    <div class="col-md-7">
      <h2 class="display-3">Mobile Accessibility</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus dictum at tempor commodo.
      </p>
    </div>
  </div>

  <hr class="my-5">

  <div class="row">
    <div class="col-md-12">
      <h2 class="display-3 text-center">Our Team</h2>
    </div>
  </div>
  <br><br>

  <div class="row">
    <div class="col-md-7">
      <p class="lead">
        <strong>Lexi Walker</strong>- Lexi is an experienced developer with more than 20 years of experience. She has a Master's in Computer Science from the University of Tennessee. She loves cats.
      </p>
    </div>
    <div class="col-md-5 text-center">
      <img src="./assets/employee-one.png" alt="Female sitting at a desk with a computer in front of her."
      class="img-fluid rounded employee">
    </div>

    <div class="col-md-7">
      <p class="lead">
        <strong>Bobby Witt Jr.</strong>- Bobby is a junior developer with 1 year of experience. He has a Bachelor's Degree in web development. He enjoys playing baseball in his free time.
      </p>
    </div>
    <div class="col-md-5 text-center">
      <img src="./assets/employee-two.png" alt="Male sitting at a desk with a computer in front of him."
      class="img-fluid rounded employee">
    </div>

    <div class="col-md-7">
      <p class="lead">
        <strong>Vinnie Pasquantino</strong>- Vinnie is a junior developer with 2 years of experience. He has a Bachelor's Degree in Software Engineering from Old Dominion. He loves playing baseball and hosts a podcast outside of work.
      </p>
    </div>
    <div class="col-md-5 text-center">
      <img src="./assets/employee-three.png" alt="Male sitting at a desk with a computer in front of him."
      class="img-fluid rounded employee">
    </div>
  </div>
</div>
<br>
<!-- end container -->