<!--
    Title: footer.component.html
    Author: Professor Krasso and Brett Grashorn
    Date: 8/17/23
    Description: Footer html element
 -->

<footer class=" container-fluid text-center huff-bg p-5">
  <div class="container p-5 text-black fst-italic">
    <p>&copy; Copyright 2023. All Rights Reserved.</p>
    <p><a href="mailto:support@nodebucket.com" class="text-black text-underline-hover">support@nodebucket.com</a></p>
    <a href="https://www.facebook.com/nodebucket" target="_blank">
      <img src="./assets/facebook-logo.png" alt="Facebook" class="pe-4" >
    </a>
    <a href="https://www.twitter.com/nodebucket" target="_blank">
      <img src="./assets/twitter-logo.png" alt="Twitter" class="p3-4">
    </a>
  </div>

</footer>