<!--
    Title: home.component.html
    Author: Professor Krasso and Brett Grashorn
    Date: 8/17/23
    Description: Home html element
 -->

<div class="container-fluid pt-2" style="min-height: 600px;">

  <h1 class="text-center">Welcome to the Nodebucket Application!</h1>
  <div class="row mt-5 text-center">

    <div class="col-sm-4">
      <figure>
        <a routerLink="/task-management/my-tasks">
          <img class="img-fluid home-img" src="./assets/task-image.jpg" alt="Pic">
        </a>
        <h1>Tasks</h1>
        <p>Check on the status of your tasks.</p>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <a routerLink="/about">
          <img class="img-fluid home-img" src="./assets/about-us.jpg" alt="Pic 2">
        </a>
        <h1>About Us</h1>
        <p>Learn more about Nodebucket!</p>
      </figure>
    </div>

    <div class="col-sm-4">
      <figure>
        <a routerLink="/contact">
          <img class="img-fluid home-img" src="./assets/contact-us.jpg" alt="Pic">
        </a>
        <h1>Contact Us</h1>
        <p>Have Questions? We have answers!</p>
      </figure>
    </div>
  </div>
</div>


