/**
  Title: base-layout.component.css
  Author: Brett Grashorn
  Date: 8/17/23
  Description: Styling for base-layout.component.html file
*/

/* changes background color */
.huff-two {
  background-color: #FFD25F;
}